.header1 {
    background-color: #01020c;
    // position: static;
    // left: 0;
    // right: 0;
    // top: 0;
    // box-shadow: 0 0 25px 0 black;

    ul {
        display: flex;
        justify-content: flex-end;
    }


    li {
        margin-right: 40px;
        padding-block: 20px;
        list-style-type: none;


        a {
            color: rgb(255, 255, 255);
            text-decoration: 5px solid white;
            ;
        }
    }
}